[user]
	name = Ruini Xue
	email = xueruini@gmail.com
[color]
	ui = auto
[color "diff"]
	whitespace = red reverse
[push]
        default = simple
[pull]
        rebase = true
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
