[user]
	name = Ruini Xue
	email = xueruini@gmail.com
	signingkey = D8332A0B64FCBCBE
[color]
	ui = auto
[color "diff"]
	whitespace = red reverse
[push]
	default = simple
[pull]
	rebase = true
[alias]
	st = status
	sts = status -sb
	stnu = status --untracked-files=no
	ci = commit
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	dk = diff --check
	lp = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --date=relative
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --date=relative --all
	lolap = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ls = ls-files

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard
[filter "media"]
	required = true
	clean = git media clean -- %f
	smudge = git media smudge -- %f
[diff]
	submodule = log
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[status]
	submodulesummary = yes
